.menu-bar, .combo-box, .combo-box-popup .list-view .list-cell, .text-field, .text-area .content {
    -fx-background-color: #191513;
}

.combo-box, .combo-box-popup .list-view, .text-field, .text-area .content {
    -fx-border-color: #333333;
}

.menu-button:hover, .menu-item:hover, #actionsMenuBar, #viewsMenuBar {
    -fx-background-color: #c15d11;
    -fx-cursor: hand;
}

.menu:disabled {
    -fx-background-color: #22573d;
    -fx-opacity: 1;
}

.menu .label {
    -fx-font-family: "Ubuntu Bold";
    -fx-text-fill: white;
    -fx-font-size: 16;
}

.menu-item {
    -fx-background-color: #191513;
}

.menu-item .label {
    -fx-font-family: "Ubuntu Bold";
    -fx-text-fill: white;
    -fx-font-size: 14;
}

#leftPane, #rightPane, #centerPane, #bottomPane {
    -fx-background-color: black;
}

.label {
    -fx-font-family: "Ubuntu";
    -fx-font-size: 10;
    -fx-text-fill: white;
}

.button {
    -fx-font-family: "Ubuntu Bold";
    -fx-background-color: #4d0304;
    -fx-font-size: 11;
    -fx-text-fill: white;
    -fx-cursor: hand;
}

.combo-box {
    -fx-font-family: "Ubuntu";
    -fx-font-size: 14;
    -fx-cursor: hand;
}

.combo-box .cell:selected {
    -fx-font-family: "Ubuntu Bold";
    -fx-text-fill: white;
}

.combo-box-popup .list-view {
    -fx-text-fill: white;
    -fx-cursor: hand;
}

.combo-box-popup .list-view .list-cell {
    -fx-text-fill: white;
}

.combo-box:hover, .combo-box-popup .list-view .list-cell:hover, .text-field:hover, .button:hover, .check-box:hover, #customParameters .content:hover, #welcomeMessage .content:hover {
    -fx-background-color: #c15d11;
    -fx-text-fill: white;
}

.text-field, .text-area {
    -fx-font-family: "Ubuntu Bold";
    -fx-text-box-border: transparent;
    -fx-focus-color: transparent;
    -fx-font-size: 14;
    -fx-text-fill: white;
}

.check-box .text {
    -fx-font-family: "Ubuntu";
    -fx-font-size: 9;
    -fx-text-fill: white;
    -fx-cursor: hand;
}

.check-box:selected .mark {
    -fx-background-color: #191513;
}

.web-view body {
    background-color: black;
}

.table-view {
    -fx-background-color: black;
}

.table-view .table-cell {
    -fx-font-family: "Ubuntu";
    -fx-font-size: 16;
    -fx-text-fill: white;
}

.table-view .table-row-cell:selected .text {
    -fx-font-family: "Ubuntu Bold";
    -fx-font-size: 20;
    -fx-cursor: hand;
}

.table-view .table-cell:hover {
    -fx-background-color: #c15d11;
}

.table-view .table-cell:hover:empty {
    -fx-background-color: transparent;
}

.table-view .column-header {
    -fx-background-color: #4d0304;
}

.table-row-cell{
    -fx-background-color: #191513;
}

.table-row-cell:odd{
    -fx-background-color: #201c1a;
}

#titleConfigLabel, #consoleLabel {
    -fx-font-family: "Ubuntu Bold";
    -fx-text-fill: #fba140;
    -fx-font-size: 11;
}

#consoleLabel {
    -fx-font-family: "Ubuntu Bold";
    -fx-text-fill: #fba140;
    -fx-font-size: 14;
}

#alreadyInLauncher {
    -fx-text-fill: #fba140;
}

.scroll-bar:vertical{
    -fx-background-color: #c15d11;
}

#viewPaneCombo {
    -fx-background-color: #c15d11;
}

.tab-pane {
  -fx-tab-min-height:35px;
  -fx-tab-max-height:35px;
}

.tab {
    -fx-font-family: "Ubuntu";
    -fx-text-base-color: white;
    -fx-background-color: #191513;
    -fx-cursor: hand;
    -fx-font-size: 11;
}

.tab:hover {
    -fx-background-color: #c15d11;
    -fx-cursor: hand;
}

.tab:selected {
    -fx-background-color: #22573d ;
    -fx-cursor: hand;
}

.tab-pane .tab-header-area .tab-header-background {
    -fx-background-color:none;
}

.tab-pane .tab-content-area {
    -fx-border-color: #c15d11;
    -fx-border-width:3px;
    -fx-border-radius: 10px;
}

#consoleArea {
    -fx-focus-color: #c15d11;
}

.gridPane, .mapCard {
    -fx-border-color: #c15d11;
    -fx-border-width:3px;
    -fx-border-radius: 10px;
}

.gridPane:hover, #mapCard:hover {
    -fx-effect: dropshadow(three-pass-box, red, 20, 0, 0, 0);
}

.width150 {
    -fx-max-width: 300px;
}

.width300 {
    -fx-max-width: 300px;
}

#runServer, #joinServer, #terminalButton, #profileSetup, #gameTypeSetup, #difficultySetup, #lengthSetup, #maxPlayersSetup, #platformProfileMapAdd, #platformProfileMapSetup {
    -fx-border-color: transparent;
    -fx-background-color: transparent;
}

.pane {
    -fx-border-color: #c15d11;
    -fx-border-width:3px;
    -fx-border-radius: 10px;
}

.date-picker > .text-field  {
    -fx-alignment: center;
}

.date-picker-popup > .month-year-pane {
    -fx-background-color: #4d0304;
}

.date-picker-popup > * > .day-cell:hover,
.date-picker-popup > * > .selected,
.date-picker-popup > * > .previous-month.selected,
.date-picker-popup > * > .next-month.selected {
    -fx-background: #fba140;
}

.date-picker-popup > * > .day-cell:focused:hover,
.date-picker-popup > * > .today:focused:hover,
.date-picker-popup > * > .selected,
.date-picker-popup > * > .selected:focused,
.date-picker-popup > * > .today.selected:focused {
    -fx-background-color: #22573d;
    -fx-text-fill: white;
}

.date-picker-popup > * > .week-number-cell {
    -fx-text-fill: #22573d;
    -fx-font-weight: bold;
}

.progress-indicator {
    -fx-progress-color: #c15d11;
}

#platformSelect, #platformSelect .combo-box, #platformSelect .combo-box-popup .list-view .list-cell,
#profileSelect, #profileSelect .combo-box, #profileSelect .combo-box-popup .list-view .list-cell {
    -fx-background-color: #0f3a3f;
}

#platformSelect:hover, #platformSelect .combo-box:hover, #platformSelect .combo-box-popup .list-view .list-cell:hover,
#profileSelect:hover, #profileSelect .combo-box:hover, #profileSelect .combo-box-popup .list-view .list-cell:hover {
    -fx-background-color: #c15d11;
}

#customParametersFormatLabel {
    -fx-font-family: "Ubuntu Bold";
    -fx-text-fill: white;
    -fx-font-size: 16;
}

#wizardTopPane, #wizardLeftPane, #wizardRightPane, #wizardCenterGridPane, #wizardBottomPane {
    -fx-background-color: #414141;
}

#wizardTitleLabel {
    -fx-font-family: "Ubuntu Bold";
    -fx-font-size: 18;
    -fx-text-fill: #fba140;
}

#step1TitleLabel, #step2TitleLabel, #step3TitleLabel, #step4TitleLabel, #step5TitleLabel, #nextStep {
    -fx-font-family: "Ubuntu";
    -fx-font-size: 12;
    -fx-text-fill: #fba140;
}

#step1Description, #step5Description {
    -fx-font-family: "Ubuntu";
    -fx-font-size: 12;
    -fx-text-fill: white;
}

#previousStep, #nextStep, #switchSteamGamesServer, #switchEpicGamesServer, #finish {
    -fx-font-family: "Ubuntu";
    -fx-font-size: 14;
    -fx-text-fill: white;
}
