.menu-bar, #bottomPanel, .combo-box, .combo-box-popup .list-view .list-cell, .text-field, .text-area .content {
    -fx-background-color: #191513;
}

.menu-button:hover, .menu-item:hover {
    -fx-background-color: #c15d11;
    -fx-cursor: hand;
}

.menu:disabled {
    -fx-background-color: black;
    -fx-opacity: 0.7;
}

.menu .label {
    -fx-text-fill: white;
    -fx-font-weight: bold;
    -fx-font-size: 16;
}

.menu-item {
    -fx-background-color: #191513;
}

.menu-item .label {
    -fx-text-fill: white;
    -fx-font-weight: bold;
    -fx-font-size: 14;
}

#leftPane, #rightPane, #centerPane {
    -fx-background-color: black;
}

.label {
    -fx-font-size: 14;
    -fx-text-fill: white;
}

.button {
    -fx-background-color: #4d0304;
    -fx-font-weight: bold;
    -fx-font-size: 15;
    -fx-text-fill: white;
    -fx-cursor: hand;
}

.combo-box {
    -fx-font-size: 14;
    -fx-cursor: hand;
}

.combo-box .cell:selected {
    -fx-text-fill: white;
    -fx-font-weight: bold;
}

.combo-box-popup .list-view {
    -fx-text-fill: white;
    -fx-cursor: hand;
}

.combo-box-popup .list-view .list-cell {
    -fx-text-fill: white;
}

.combo-box:hover, .combo-box-popup .list-view .list-cell:hover, .text-field:hover, .text-area .content:hover, .button:hover, .check-box:hover {
    -fx-background-color: #c15d11;
    -fx-text-fill: white;
}

.text-field, .text-area {
    -fx-text-box-border: transparent;
    -fx-font-size: 14;
    -fx-text-fill: white;
    -fx-font-weight: bold;
}

#console {
    -fx-font-weight: normal;
}

.check-box {
    -fx-font-size: 14;
    -fx-text-fill: white;
    -fx-font-weight: bold;
    -fx-cursor: hand;
}

.check-box:selected .mark {
    -fx-background-color: #191513;
}

.web-view body {
    background-color: black;
}

.table-view {
    -fx-background-color: black;
}

.table-view .table-cell {
    -fx-font-size: 16;
    -fx-text-fill: white;
}

.table-view .table-row-cell:selected .text {
    -fx-font-weight: bold;
    -fx-font-size: 20;
    -fx-cursor: hand;
}

.table-view .table-cell:hover {
    -fx-background-color: #c15d11;
}

.table-view .table-cell:hover:empty {
    -fx-background-color: transparent;
}

.table-view .column-header {
    -fx-background-color: #4d0304;
}

.table-row-cell{
    -fx-background-color: #191513;
}

.table-row-cell:odd{
    -fx-background-color: #201c1a;
}

#titleConfigLabel {
    -fx-text-fill: #fba140;
    -fx-font-weight: bold;
    -fx-font-size: 34;
}

.scroll-bar:vertical{
    -fx-background-color: #c15d11;
}

#searchMaps, #viewPaneCombo {
    -fx-background-color: #c15d11;
}