.menu-bar, .combo-box, .combo-box-popup .list-view .list-cell, .text-field, .text-area .content {
    -fx-background-color: #191513;
}

.menu-button:hover, .menu-item:hover {
    -fx-background-color: #c15d11;
    -fx-cursor: hand;
}

.menu:disabled {
    -fx-background-color: #22573d;
    -fx-opacity: 1;
}

.menu .label {
    -fx-font-family: "Ubuntu Bold";
    -fx-text-fill: white;
    -fx-font-size: 16;
}

.menu-item {
    -fx-background-color: #191513;
}

.menu-item .label {
    -fx-font-family: "Ubuntu Bold";
    -fx-text-fill: white;
    -fx-font-size: 14;
}

#leftPane, #rightPane, #centerPane, #bottomPanel {
    -fx-background-color: black;
}

.label {
    -fx-font-family: "Ubuntu";
    -fx-font-size: 13;
    -fx-text-fill: white;
}

.button {
    -fx-font-family: "Ubuntu Bold";
    -fx-background-color: #4d0304;
    -fx-font-size: 13;
    -fx-text-fill: white;
    -fx-cursor: hand;
}

.combo-box {
    -fx-font-family: "Ubuntu";
    -fx-font-size: 14;
    -fx-cursor: hand;
}

.combo-box .cell:selected {
    -fx-font-family: "Ubuntu Bold";
    -fx-text-fill: white;
}

.combo-box-popup .list-view {
    -fx-text-fill: white;
    -fx-cursor: hand;
}

.combo-box-popup .list-view .list-cell {
    -fx-text-fill: white;
}

.combo-box:hover, .combo-box-popup .list-view .list-cell:hover, .text-field:hover, .button:hover, .check-box:hover, #customParameters .content:hover, #welcomeMessage .content:hover {
    -fx-background-color: #c15d11;
    -fx-text-fill: white;
}

.text-field, .text-area {
    -fx-font-family: "Ubuntu Bold";
    -fx-text-box-border: transparent;
    -fx-font-size: 14;
    -fx-text-fill: white;
}

#console {
    -fx-font-family: "Ubuntu";
    -fx-font-weight: normal;
}

.check-box {
    -fx-font-family: "Ubuntu Bold";
    -fx-font-size: 14;
    -fx-text-fill: white;
    -fx-cursor: hand;
}

.check-box:selected .mark {
    -fx-background-color: #191513;
}

.web-view body {
    background-color: black;
}

.table-view {
    -fx-background-color: black;
}

.table-view .table-cell {
    -fx-font-family: "Ubuntu";
    -fx-font-size: 16;
    -fx-text-fill: white;
}

.table-view .table-row-cell:selected .text {
    -fx-font-family: "Ubuntu Bold";
    -fx-font-size: 20;
    -fx-cursor: hand;
}

.table-view .table-cell:hover {
    -fx-background-color: #c15d11;
}

.table-view .table-cell:hover:empty {
    -fx-background-color: transparent;
}

.table-view .column-header {
    -fx-background-color: #4d0304;
}

.table-row-cell{
    -fx-background-color: #191513;
}

.table-row-cell:odd{
    -fx-background-color: #201c1a;
}

#titleConfigLabel {
    -fx-font-family: "Ubuntu Bold";
    -fx-text-fill: #fba140;
    -fx-font-size: 20;
}

#alreadyInLauncher {
    -fx-text-fill: #fba140;
}

.scroll-bar:vertical{
    -fx-background-color: #c15d11;
}

#searchMaps, #viewPaneCombo, #profileSelect {
    -fx-background-color: #c15d11;
}

.tab-pane {
  -fx-tab-min-height:35px;
  -fx-tab-max-height:35px;
}

.tab {
    -fx-font-family: "Ubuntu";
    -fx-text-base-color: white;
    -fx-background-color: #191513;
    -fx-cursor: hand;
}

.tab:hover {
    -fx-background-color: #c15d11;
    -fx-cursor: hand;
}

.tab:selected {
    -fx-background-color: #22573d ;
    -fx-cursor: hand;
}

.tab-pane .tab-header-area .tab-header-background {
    -fx-background-color:none;
}

.tab-pane .tab-content-area {
    -fx-border-color: #c15d11;
    -fx-border-width:3px;
    -fx-border-radius: 10px;
}